@use "./mq" as *;
@use "./variables" as *;

body {
  font-family: $font-family-ja;
  font-weight: $font-weight;
  line-height: $line-height-base;
  font-size: $font-size-base;
  color: $main-font-color;
}

img {
  width: 100%;
}

// contentの共通inner
.inner {
  padding-inline: 15px;

  @include mq(pc) {
    max-width: calc($width-inner + 40px * 2);
    padding-inline: 40px;
    margin-inline: auto;
  }
}

// 各セクションのタイトル自作
// .section-title {
//   text-align: center;
//   font-size: 30px;
//   font-weight: 600;
//   line-height: 100%;
//   margin-bottom: 74px;
//   position: relative;

//   @include mq(pc) {
//     font-size: 40px;
//     margin-bottom: 89px;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 58px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 60px;
//     height: 1px;
//     background: $main-color;
//   }
// }

// 各セクションの共通titleデイトラ
.section-title {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  line-height: 100%;
  margin-bottom: 46px;

  &::after {
    content: "";
    width: 60px;
    height: 1px;
    background-color: $main-color;
  }

  @include mq(pc) {
    font-size: 40px;
    gap: 24px;
    margin-bottom: 64px;
  }
}

// // 各セクションの共通margin
// .section-margin {
//   margin-top: 96px;

//   @include mq(pc) {
//     margin-top: 160px;
//   }
// }

// 共通ボタン
.button {
  min-width: 158px;
  text-align: center;
  display: inline-block;
  color: $main-color;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02px;
  border: 1px solid currentColor;
  background: #fff;
  padding: calc(12px - 1px) calc(4px - 1px);
  transition: all 0.3s;

  &:hover {
    color: #fff;
    background: $main-color;
  }
}

// pc画面で非表示
.hidden-pc {
  @include mq(pc) {
    display: none;
  }
}
// tb画面で非表示
.hidden-tb {
  @include mq(tb) {
    display: none;
  }
}

// スマホ画面で非表示
.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.main {
  display: grid;
  gap: 96px;

  @include mq(pc) {
    gap: 160px;
  }
}

// cssを使用したスムーススクロール
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;

  @include mq(tb) {
    scroll-padding-top: 70px;
  }
}
